$colores:(
    color1: black,
    color2: white,
    color3: #f5f5f5,
    color4: red,
    color5: rgba(174, 174, 174, 0.795)
);

$tamaño-letra:(
    tam0: 10px,
    tam1: .75rem,
    tam2: .8125rem,
    tam3: .875rem,
    tam4: 1.25rem,
);