.filtro{
    height: 4.0625rem;
    @include flex(row, nowrap, space-between, center, none);
    padding: 0px 1.875rem;
    border: .0625rem solid map-get($colores, color1);
    div{
        display: flex;
        gap: .1875rem;
    }
    .arrowFiltro{
        width: 1.4rem;
        height: 1.4rem;
        img{
            object-fit:cover;
        }
    }
}
