footer{
    @include flex(row, nowrap, space-between, none, none);
    color: map-get($colores, color2 );
    background-color:map-get($colores, color1 );
    font-size: map-get($tamaño-letra, tam1 );
    padding: 3.9375rem 5.5rem;
    img{
        object-fit: cover;
    }
    section{
        @include flex(column, nowrap, none, none, .9375rem);
        ul{
            @include flex(column, nowrap, none, none, .9375rem);
            li{
                @include flex(row, nowrap, none, center, .3125rem);
                .iconoFooter{
                    width: 1.4rem;
                    height: 1.4rem;
                }
            }
        }
    }
    p{
        font-weight: 600;
    }
}
.iconosFollow{
    @include flex(row, nowrap, none, center, 1.25rem);
}
.footerCompraSegura{
    width: 12.5rem;
}
.spanAyuda{
    padding-left: 1.875rem;
    color: rgba(174, 174, 174, 0.795);
}