
header{
    position: sticky;
    top: 0;
    z-index: 5;
    .descuentoHeader{
        color: map-get($colores, color2);
        background-color: map-get($colores, color1 );
        text-align: center;
        font-size: map-get($tamaño-letra, tam2 ) ;
    }
    img{
        object-fit: contain;
    }
}
