main .crearCuenta{
    @include flex(column, nowrap, center, center, none);
    height: 68.75rem; 
    margin: 5rem 0px;
    h3{
        border-bottom: .0625rem solid black;
        width: 32.7375rem;
        text-align: center;
        padding-bottom: .625rem;
        margin-bottom: 2.5rem;
        font-weight: 600;
    }
    form{
        padding-top: 2.8125rem;
        .completar{
            @include flex(column, nowrap, none, none, 2.8125rem 0px);
            padding: 2.8125rem 0;
            div{
                label{
                    a{
                        text-decoration: underline;
                        font-weight: 600;
                    }
                }
            }
            legend{
                font-weight: 600;
            }
        }
        .submitFormulario{
            @include flex(row, nowrap, center, none, none);
            input{
                width: 100%;
                background-color: map-get($colores, color1);
                color: map-get($colores, color2 );
                padding: .3125rem 0px;
            }
        }
        fieldset{
            width: 100%;
            .seccionesFormulario{
                @include flex(column, nowrap, none, none, none);
                border-bottom: .0625rem solid map-get($colores, color1);
                input{
                    padding-top: 1.9063rem;
                }
            }
        }
    }
} 