@media(max-width: 376px){
    footer{
        @include flex(column, nowrap, none, center, none);
        padding: 3.125rem .9375rem;
        width: 100%;
        section{
            ul{
                display: none;
            }
            span{
                display: none ;
            }
        }
        .atencion{
            padding-bottom: 2.5rem;
            ul{
                display: flex;
                span{
                    display: inline;
                }
            }
        }
        .footerMobile{
            width: 100%;
            align-items: start;
            border-top: 1px  solid map-get($colores, color2);
            border-bottom: 1px  solid map-get($colores, color2);
            padding: 1.25rem 0rem;
        }
        .follow{
            padding-top: 2.5rem;
        }
    }
}