@media(max-width: 376px){
    main .imagPrincipalesIndex{
        display: block;
    }    
    main .imagPrincipalesIndex .img0 , main .imagPrincipalesIndex .img1 , main .imagPrincipalesIndex .img2{
        display: none;
    }
    main .imagPrincipalesIndex .img3{
        height: 37.5625rem;
    }
    main .loMasVendido .productosIndex{
        padding-bottom: 1.25rem;
    }
    main .loMasVendido .productosIndex .card{
        display: none;
    }
    main .loMasVendido .productosIndex .card:first-child{
        display: block;
    }
    main .saleIndex{
        height: 25rem;
    }
    .card{
        height: 34.375rem; 
        .producto{
            height: auto;
        }
    }
}