@media(max-width: 376px){
    .presentacion{
        padding: 1.875rem 0;
        .video{
            width: 90%;
            height: 19.21875rem;
        }
    }
    .ideasVision{
        flex-direction: column;
    }
}